.qb {
    justify-content: center;
    padding-left: 25%;
    display: flex;
    
}
.qb1 {
    justify-content: center;  
    padding-right: 25%;  
    display: flex; 

}

.dateTime {
    justify-content: center; 
}

.score {
    justify-content: center;
}

.nameRecord{
    justify-content: center;
    display: flex; 
}